lr0: 0.01
lrf: 0.01
momentum: 0.937
weight_decay: 0.0005
warmup_epochs: 3.0
warmup_momentum: 0.8
warmup_bias_lr: 0.1
box: 7.5
cls: 2.0
dfl: 1.5
fl_gamma: 1.5   # focal loss gamma to help imbalance
label_smoothing: 0.0
degrees: 5.0
translate: 0.1
scale: 0.5
shear: 0.0
perspective: 0.0
flipud: 0.0
fliplr: 0.5
mosaic: 1.0
mixup: 0.1
hsv_h: 0.01
hsv_s: 0.6
hsv_v: 0.4


